.header{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
}

.header-logo{
    align-self: center;
}

.potepan-icon{
    height: 20px;
}

.menu-bar{
    display: none;
}

/* ナビゲーションリスト*/
nav{
    display: inline-flex;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 10px;
    font-weight: bold;
}

li{
    text-align: center;
    margin-left:  25px;
}

/* ナビゲーションリストの色変更*/
a{
    color: black;
    text-decoration:none;
}

/* ホバー*/
li a:hover{
    color: #DDDDDDFF;
}

/* 英字のフォント変更*/
li::first-line {
    font-size: 12px;
    font-weight: bold;
    }

/* 無料カウンセリングボタン*/
.navigation-button{
    background-color: #FC832C;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 12px;
    font: bold;
    padding: 10px 20px
}

.navigation-button:hover{
    opacity: 50%;
}

body{
    margin: 0;
    padding: 0;
}

/* トップページ画像設定*/
.top-page{
    position: relative;
    width: 100%;
}

.top{
    z-index: -1;
    position: absolute
}

.left-parts{
    left: -70px;
    width: 348px
}

.center-parts{
    width: 527px;
    top: 85px;
    left: -60px
}

.main-img{
    width: 775px;
    right: -10px;
}

.right-parts{
    width: 348px;
    right: -10px;
    top: 350px;
}

/* レスポンシブ対応画像*/
.small-image{
    display: none;
}

/*トップページコンテンツ*/
.top-container{
    position: relative;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

.top-contents{
    position: relative;
    width: fit-content;
}

.no1-img{
    position: absolute;
    top: -100px;
    right: -150px;
}

.top-message{
    margin-bottom: 16px;
}

.contact-button{
    background-color: #F79214;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.asterisk{
    margin-top: 30px;
    color: #979797;
    font-size:10px
}


@media only screen and (max-width: 1000px) {

    /*メニュー3本表示*/
    .menu-bar{
        position:absolute;
        display: block;
        right: 30px;
        width: 30px;
        height: 2px;
        margin: auto;
        background-color:black;
    }
    .menu-bar:nth-child(1) {
        top: 38%;
      }
    
    .menu-bar:nth-child(2) {
        top: 50%;
    }
    .menu-bar:nth-child(3) {
        top: 62%;
    }

    /*ナビゲーションを隠す*/
    li {
        visibility: hidden;
      }
    .navigation-button {
        visibility: hidden;
      }
    
      /*トップコンテンツ位置調整*/
    .top-container{
        margin-left: 30px
    }
  }

  @media only screen and (max-width: 800px) {

    .top{
        display: none;
    }
    
    .small-image{
        display: block;
        width:100%;
        position: relative;
    }

    .top-container{
        padding-top: 0;
    }

    .top-contents{
        padding-top: 0;
        font-size: 10px;
        width: fit-content;
    }

    .no1-img{
        width: 100px;
        position: absolute;
        top: -50px;
        left: 200px;
    }

    .header-container{
        height: 45px;
    }

    .potepan-icon{
        height: 16px;
    }

    
}
